.carousel-card {
  margin: 0 2em;
  padding: 28px;
  min-width: 300px;
  max-width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__instructions {
    font-family: $font__general;
    font-size: $font__general-size;

    h1 {
      @extend .carousel-card__instructions;
      font-size: $font__title-size;
      margin: 15px 0 10px 0;
    }

    ol {
      transform: translateX(13px);
      li {
        padding-left: 15px;
        margin-bottom: 0;
      }
    }
  }

  &__level {
    @extend .carousel-card__instructions;

    &--title {
      @extend .carousel-card__instructions;
      font-size: $font__title-size;
      margin-bottom: 10px;
    }

    &--image {
      display: block;
      margin: 20px auto;
    }
  }
}

.carousel__landing-section {
  min-height: 400px;
}

.carousel-card__landing {
  @extend .carousel-card;
  height: 350px;
  overflow: hidden;

  .card-body {
    display: block;
    text-align: left;
    width: 100%;
    
    button {
      position: absolute;
      right: 50px;
      bottom: 40px;
      background-color: $green__primary-color;
      border: 1px solid $green__primary-color;
      color: $background-color__card;
    }
  }

  .slick-dots {
    transform: translateY(50px);
  }
 
}