.button__positionning--wrapper {
  margin: 60px auto 30px auto;
  text-align: center;
}

.button__game-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.button__all-games--wrapper{
  margin: 0px auto 80px auto;
  text-align: center;
}