.loading{
  height: 150px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.landing__initial-card {
  width: 324px;
  margin: 0 auto;
  font-family: $font__general;
  font-size: $font__general-size;
  position: absolute;
  top: 200px;
  left: 50vw;
  transform: translateX(-50%);
 
  .card-body {
    padding: 5px 20px;
  }
 
  h5 {
    font-size: $font__title-size;
  }
 
  button {
    font-size: $font__title-size;
    position: absolute;
    right: 20px;
    bottom: 25px;
  }
 }
