.shareIdea--container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color__nav-bar;
    padding: 0px 20px 40px 20px;
    min-height: 100vh;
    width: 100vw;
    font-family: $font__general;
}
.shareIdea--nav{
    width: 100vw;
    background-color: rgb(237,245,227);
    height: 36px;
    top:0;
}
.shareIdea--container__nav{
    max-width: 600px;
    margin: 0 auto;
}
.shareIdea--button__back{
    background-color: transparent;
    border: none;
    color: #7db238;
    font-size: $font__nav-bar-size;
    text-transform: uppercase;
    margin-left: 10px;
}
.shareIdea--button__image{
    height: 8px;
    padding-right: 5px;
    margin-bottom: 1px;
}
.shareIdea--input__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
}
.shareIdea--image{
    height: 150px;
    margin-bottom: 20px;
}
.shareIdea--title{
    font-weight: bold;
}
.shareIdea--subtitle{
    text-transform: uppercase;
    font-size: 10px;
}
.shareIdea--input{
    border-radius: 5px;
    border: 1px solid white;
    max-width: 600px;
    margin-bottom: 30px;
    width: 300px;
}

.shareIdea--button__share{
    width: 80%;
    height: 40px;
    text-transform: capitalize;
}