$green__primary-color: #628a2c;
$green__secondary-color: #d9e021;

$background-color: #f3f7eb;
$background-color__card: #ffffff;
$background-color__nav-bar: #f3f7eb;
$background-color__lego-game: #fce8e9;

$font__general: 'Lato', sans-serif;

$font__general-size: 11px;
$font__general-line-height: 1.4em;
$font__general-weight: 400;
$font__general-color: #444444;
$font__secondary-color: #9b9b9b;
$font__color-nav-titles: #888888;

$font__title-size: 14px;
$font__title-line-height: 1.6em;
$font__title-weight: 700;
$font__title-header-size: 20px;
$font__section-title-size: 16px;
$font__section-title-line-height: 1.6em;

$font__progress-bar-size: 11px;
$font__progress-bar-line-height: 1.4em;

$font__nav-bar-size: 8px;
$font__nav-bar-color: #888888;
